<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../icon/envm.png">

    <title>Sign In</title>

    <!-- Custom styles for this template -->
    <link href="../css/signin.css" rel="stylesheet">
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <!------ Include the above in your HEAD tag ---------->

   <div class="container login-container">
       <div class="row">
          <div class="col-md-8 login-form-1">
           <form>
             <img src="../../icon/envm.png" width="400" height="400">               
           </form>
          </div>
          
          <div class="col-md-4 login-form-2">
            <h3>Login</h3>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" value="" />
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" value="" />
              </div>
              <div class="form-group">
                <input type="submit" class="btnSubmit" value="Login" />
              </div>
              <div class="form-group">
                <a href="#" class="ForgetPwd" value="Login">Forgot Password?</a>
              </div>
            </form>
           </div>
        </div>
     </div>